In [1]:
import pandas as pd
import numpy as np

In [6]:
import csv

# Ruta del archivo de texto con los datos
input_file = ""

# Leer los datos del archivo de texto
data = []
with open(input_file, 'r') as file:
    # Saltar la primera línea (encabezados)
    next(file)
    for line in file:
        # Separar los valores por espacios y convertirlos a números
        values = [float(val) for val in line.split()]
        data.append(values)

# Nombre del archivo de salida
output_file = "datos_csv.csv"

# Escribir los datos en el archivo CSV
with open(output_file, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["time/s", "cycle number", "freq/Hz", "Re(Z)/Ohm", "-Im(Z)/Ohm", "|Z|/Ohm", "Phase(Z)/deg"])
    writer.writerows(data)

print(f"Se ha creado el archivo {output_file} con éxito.")

OSError: [Errno 22] Invalid argument: 'https://github.com/SebaVillagra00/ICM2985-SOH-IPRE/blob/main/EIS%20Cambridge/EIS%20data/EIS_state_III_25C01.txt?raw=true'

In [4]:
url = 'https://github.com/SebaVillagra00/ICM2985-SOH-IPRE/blob/main/EIS%20Cambridge/EIS%20data/EIS_state_III_25C01.txt?raw=true'
df = pd.read_csv(url,sep=' ', header=0, index_col=False)

In [5]:
df.head(5)

,time/s\t,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Re(Z)/Ohm\t,Unnamed: 24,-Im(Z)/Ohm\t,Unnamed: 26,Unnamed: 27,|Z|/Ohm\t,Unnamed: 29,Unnamed: 30,Phase(Z)/deg
0,9651.00252,NaN,NaN,1.00000\t20004.45300\t,NaN,NaN,0.39182,NaN,-0.03055,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9651.14552,NaN,NaN,1.00000\t15829.12600\t,NaN,NaN,0.39693,NaN,-0.01230,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9651.28752,NaN,NaN,1.00000\t12516.70300\t,NaN,NaN,0.40190,NaN,NaN,0.00234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9651.42952,NaN,NaN,1.00000\t9909.44240\t,NaN,NaN,0.40953,NaN,NaN,0.01629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9651.59352,NaN,NaN,1.00000\t7835.48000\t,NaN,NaN,0.41789,NaN,NaN,0.02743,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN